[user]
    name = Simon Hulse
    email = simonhulse@protonmail.com
    username = simonhulse
[init]
    defaultBranch = main
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[credential]
    helper = store